<footer class="bg-dark text-secondary py-4 mt-5">
  <div class="container text-center">
    <h5>Suraj KS</h5>
    <div class="mb-2">
      <a href="#skills" class="text-decoration-none text-secondary me-3">Skills</a>
      <a href="#activity" class="text-decoration-none text-secondary me-3">Activity</a>
      <a href="#contact" class="text-decoration-none text-secondary">Contact</a>
    </div>

    <div class="mb-2">

      <a href="https://x.com/surajkskulal" target="_blank" class="text-secondary">
        <i class="fa-brands fa-square-x-twitter"></i>
      </a>
      <a href="https://github.com/surajks25" target="_blank" class="text-secondary">
        <i class="fa-brands fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/suraj-ks-0724352b7/" target="_blank" class="text-secondary">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="mailto:surajkskulal@gmail.com" target="_blank" class="text-secondary">
        <i class="fa-solid fa-envelope"></i>
      </a>

    </div>
    
    <p class="text-secondary small mb-0">© 2025 Suraj KS. All rights reserved.</p>
  </div>
</footer>
