
    <nav>
      <div class="left">
        <a href="/" style="color: black;">Suraj Ks</a>
      </div>
      <div class="right">

         <a href="/" rel="noopener noreferrer">
          <i class="fa-solid fa-house"></i>
          <span>Home</span>
        </a>

        <a href="https://x.com/surajkskulal" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-square-x-twitter"></i>
          <span>Twitter</span>
        </a>

        <a href="https://github.com/surajks25" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-github"></i>
          <span>Github</span>
        </a>

        <a href="https://www.linkedin.com/in/suraj-ks-0724352b7/" target="_blank" rel="noopener noreferrer">
          <i class="fa-brands fa-linkedin"></i>
          <span>LinkedIn</span>
        </a>

        <a href="mailto:surajkskulal@gmail.com">
          <i class="fa-solid fa-envelope"></i>
          <span>Email</span>
        </a>
      </div>

    </nav>

    <main>
      