<% layout ("/layouts/boilerplate") %>

<!-- Education Section -->
<section id="education" class="education-section">
  <h2 style="color: #82c8e5">Education</h2>
  <div class="timeline">
    <div class="timeline-item">
      <h4>Bachelor of Engineering - ISE</h4>
      <p>Sahyadri College of Engineering, 2020–2024</p>
    </div>
    <div class="timeline-item">
      <h4>PUC - Science</h4>
      <p>Govt PU College, Koppa, 2018–2020</p>
    </div>
  </div>
</section>

