<% layout ("/layouts/boilerplate") %>

<div class="container my-5">
  <h2 class="text-center mb-4">My Hobbies</h2>

  <div class="row text-center">
    <!-- Hobby 1 -->
    <div class="col-md-4">
      <i class="fa-solid fa-code fa-3x text-primary"></i>
      <h5>Coding</h5>
      <p>Building apps, solving problems, and exploring new tech.</p>
    </div>

    <!-- Hobby 3 -->
    <div class="col-md-4">
      <i class="fa-solid fa-book fa-3x text-warning"></i>
      <h5>Book Writing</h5>
      <p>Expressing creativity and thoughts through words.</p>
    </div>
    <!-- Hobby 2 -->
<div class="col-md-4">
  <i class="fa-solid fa-trophy fa-3x text-success"></i>
  <h5>Cricket</h5>
  <p>Playing and enjoying the spirit of teamwork and competition.</p>
</div>


  </div>

  <div class="row text-center mt-4">
    <!-- Hobby 4 -->
    <div class="col-md-4">
      <i class="fa-solid fa-camera fa-3x text-danger"></i>
      <h5>Photography</h5>
      <p>Capturing memories, nature, and architecture.</p>
    </div>

    <!-- Hobby 5 -->
    <div class="col-md-4">
      <i class="fa-solid fa-seedling fa-3x text-success"></i>
      <h5>Agriculture</h5>
      <p>Passion for farming, plants, and sustainable living.</p>
    </div>

    <!-- Hobby 6 -->
    <div class="col-md-4">
      <i class="fa-solid fa-pen-ruler fa-3x text-info"></i>
      <h5>Editing</h5>
      <p>Designing, photo/video editing, and making content creative.</p>
    </div>
  </div>

  <div class="row text-center mt-4">
    <!-- Hobby 7 -->
    <div class="col-md-12">
      <i class="fa-solid fa-comments fa-3x text-secondary"></i>
      <h5>Leadership</h5>
      <p>Engaging in deep conversations and discussions.</p>
    </div>
  </div>
</div>



