<% layout ("/layouts/boilerplate") %>
<main>
  <!--section 1:hero-->
  <section class="hero-section">
    <div class="text">
      <h2>Hello 👋</h2>
      <h2 style="color: #82c8e5">I'm Suraj</h2>
      <h2>Full-Stack Developer</h2>
      <div class="links">
        <a href="#skills">
          <i class="fa-solid fa-code"></i>
          <span>Skills</span>
        </a>

        <a href="#activity">
          <i class="fa-solid fa-pen"></i>
          <span>Activity</span>
        </a>

        <a href="#contact">
          <i class="fa-solid fa-envelope"></i>
          <span>Contact</span>
        </a>
      </div>
    </div>

    <div class="headshot">
      <!-- <img src="images/Picture.png" alt="suraj ks headshot" /> -->
      <script
        type="module"
        src="https://unpkg.com/@splinetool/viewer@1.10.14/build/spline-viewer.js"
      ></script>
      <spline-viewer
        url="https://prod.spline.design/w594jLHYKtnZW-2x/scene.splinecode"
      ></spline-viewer>
      
      <div class="spline-watermark-block"></div>

      <!-- <iframe
        src="https://my.spline.design/robotfollowcursorforlandingpage-Q5SssjzvkSCLTdU5tuT0a5eO/"
        frameborder="0"
        width="100%"
        height="100%"
      ></iframe> -->
    </div>

  </section>

  <!--section 2:skills-->
  <section id="skills" class="skills-section">
    <h2 style="color: #82c8e5">Skills</h2>
    <div class="text">
      <p>
       Information Science Engineering undergraduate with hands-on experience in Full-Stack Development (MERN 
Stack), UI/UX Design, and Machine Learning. Skilled in JavaScript, Node.js, React.js, MongoDB, SQL, Python, 
and REST API integration and development. Passionate about building scalable web applications, optimizing 
performance, and delivering user-focused solutions.
      </p>
    </div>

    <div class="cells">
      <div class="cell">
        <i class="fa-brands fa-html5"></i>
        <span>HTML</span>
      </div>

      <div class="cell">
        <i class="fa-brands fa-css3-alt"></i>
        <span>CSS</span>
      </div>

      <div class="cell">
        <i class="fa-brands fa-js"></i>
        <span>JavaScript</span>
      </div>

      <div class="cell">
        <i class="fa-brands fa-node-js"></i>
        <span>NodeJs</span>
      </div>

      <div class="cell">
        <i class="fa-brands fa-react"></i>
        <span>React</span>
      </div>
    </div>
  </section>

  <!-- acitivity-cards -->
  <div id="activity" class="Activity-zone">
    <h2 style="color: #82c8e5">Activity Zone</h2>
  </div>
  <div class="container my-5">
    <div class="row justify-content-center text-center g-4">

      <div class="col-md-4 d-flex justify-content-center">
        <a href="/education" class="img-box">
          <img src="images/education logo.webp" alt="Education" />
        </a>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <a href="https://drive.google.com/file/d/1nu43iA4gHfUIfAsTmrQCNeLlIPMXxrIK/view?usp=sharing"  class="img-box">
          <img src="images/resume logo.webp" alt="Resume" />
        </a>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <a href="/project" class="img-box">
          <img src="images/project logo.webp" alt="Project" />
        </a>
      </div>
    </div>

    <!-- Text Labels Row 1 -->
    <div class="row label-links">
      <div class="col-md-4"><a href="/education">Education</a></div>
      <div class="col-md-4"><a href="https://drive.google.com/file/d/1nu43iA4gHfUIfAsTmrQCNeLlIPMXxrIK/view?usp=sharing">Resume</a></div>
      <div class="col-md-4"><a href="/project">Project</a></div>
    </div>

    <!-- Row 2 -->
    <div class="row justify-content-center text-center g-4 mt-4" id="rowdis">
      <div class="col-md-4 d-flex justify-content-center">
        <a href="/internship"  class="img-box">
          <img src="images/internship logo.webp" alt="Internship" />
        </a>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <a href="/certificate"  class="img-box">
          <img src="images/certificate logo.webp" alt="Certificate" />
        </a>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <a href="/hobies"  class="img-box">
          <img src="images/hobies logo.webp" alt="Hobbies" />
        </a>
      </div>
    </div>

    <!-- Text Labels Row 2 -->
    <div class="row label-links">
      <div class="col-md-4"><a href="/internship">Internship</a></div>
      <div class="col-md-4"><a href="/certificate">Certificate</a></div>
      <div class="col-md-4"><a href="/hobbies">Hobbies</a></div>
    </div>
  </div>

  <!-- get in touch section -->
<section id="contact" class="container py-1">
  <h2 class="text-center mb-4 text-primary" style="color: #82c8e5 !important">
    Get in Touch
  </h2>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form action="https://formspree.io/f/mgvygrlv" method="POST">
        
        <!-- Name -->
        <div class="mb-3">
          <label for="name" class="form-label">Your Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="John Doe"
            required
          />
        </div>

        <!-- Email -->
        <div class="mb-3">
          <label for="email" class="form-label">Your Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="you@example.com"
            required
          />
        </div>

        <!-- Message -->
        <div class="mb-3">
          <label for="message" class="form-label">Your Message</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            rows="5"
            placeholder="Type your message here..."
            required
          ></textarea>
        </div>

        <!-- Submit Button -->
        <div class="text-end mt-3">
          <button type="submit" class="btn px-3" style="background-color: #66c3eb70;" >
            Send
          </button>
        </div>

      </form>
    </div>
  </div>
</section>
